@media (min-width: 768px) {
}

@media (min-width: 1158px) {
  .features_list {
    display: flex;
    gap: 24px;
  }

  .features_item {
    flex-basis: calc((100% - 72px) / 4);
  }

  .features_item_icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    border: 1px solid var(--light-slate);
    border-radius: 4px;
    background-color: var(--cloud);
  }

  .is-features-title {
    margin: 8px 0;
  }
}
